In [27]:
# Psssss READ ME! 👋👓
# Highlevel code structure: 
    # 1) Import of packages, data and DataTransformer class
    # 2) Execution of the transformation:
        # 3.1) Creation of an object from DataTransformer class
        # 3.2) Rename all columns
        # 3.3) Transform data per column
        # 3.4) Drop unnecessary columns
        # 3.5) Save transformed data into a .csv file. The preogram will ask for a name. Name suggested: "hr_data_transformed.csv" 
# Testing code:
    # For each step of the process the program prints the results of a 'quick_check' so that it can be reviewed to confirm that is working correctly

In [1]:
# Imports 📥

# Packages
#-----------------------------------------------------------------------
import pandas as pd
import numpy as np

# DataTransformer class
import sys                  # allows manipulation of the module search path
import os                   # to handle file paths more flexibly

sys.path.append(os.path.abspath('People-Analytics'))    # Adds the People-Analytics folder to the sys.path, which allows Python to find the data_transformer module.

from data_transformer.data_transformer import DataTransformer     # Import the DataTransformer class from the data_transformer.py file.
from datetime import datetime

# Settings
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # to see all columns in DataFrames


# Data 
# -----------------------------------------------------------------------
df = pd.read_csv("Exploratory_Data_Analysis/HR RAW DATA.csv", index_col=0)

In [6]:
# create outputfile name

today_date_time = datetime.now()

file_name = input("Please enter a name for the output file") + "_" + today_date_time.strftime("%Y-%m-%d_%H:%M:%S") + ".csv"

In [30]:
# print for testing

df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeecount,employeenumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
0,51,No,NaN,"684,0$",NaN,6,3,NaN,1,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,1,"259,0",3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1
2,42,No,travel_rarely,"532,0$",Research & Development,4,2,Technical Degree,1,"319,0",3,0,58,3,5,ManaGER,4,Married,"19232,0",4933,1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,"19232,0",1981,1000000000$,ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,"359,0$",NaN,2,4,Medical,1,NaN,1,1,82,3,4,ReseArCH DIrECtOr,3,Married,"17169,0",26703,3,Y,NaN,19,"3,0",2,NaN,2,NaN,2,NaN,20,NaN,5,6,"17169,0",1976,1000000000$,NaN,NaN,False
4,46,No,NaN,"1319,0$",NaN,3,3,Technical Degree,1,NaN,1,1,45,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739,2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,NaN,1977,1000000000$,NaN,NaN,0

In [31]:
# ▶️ Instantiating a class object 🐣

abc_data = DataTransformer(df)

# print for testing
abc_data.df.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeecount,employeenumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
0,51,No,NaN,"684,0$",NaN,6,3,NaN,1,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,1,"259,0",3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1

In [32]:
# ▶️ Rename columns

abc_data.rename_columns()

# print for checking

abc_data.df.head(1)

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employee_count,employee_number,environment_satisfaction,gender,hourly_rate,job_involvement,job_level,job_role,job_satisfaction,marital_status,monthly_income,monthly_rate,num_companies_worked,over_18,over_time,percent_salary_hike,performance_rating,relationship_satisfaction,standard_hours,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,same_as_monthly_income,date_birth,salary,role_departament,number_children,remote_work
0,51,No,NaN,"684,0$",NaN,6,3,NaN,1,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes

In [33]:
# ▶️ Transform "age" column data

column_name = "age"
# convert number written in letters into into numbers written in numbers

abc_data.convert_age_to_numbers()

# convert column to "int"

abc_data.convert_to_numeric (column_name,"integer")

# print for testing

abc_data.quick_check(column_name)

/mnt/c/Users/carla/Desktop/Adalab/module_3/project/People-Analytics/data_transformer/data_transformer.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df["age"][index] = conversion_dictionary[value]

Value 'forty-seven' was transformed into '47'
Value 'fifty-eight' was transformed into '58'
Value 'thirty-six' was transformed into '36'
Value 'fifty-five' was transformed into '55'
Value 'fifty-two' was transformed into '52'
Value 'thirty-one' was transformed into '31'
Value 'thirty' was transformed into '30'
Value 'twenty-six' was transformed into '26'
Value 'thirty-seven' was transformed into '37'
Value 'thirty-two' was transformed into '32'
Value 'twenty-four' was transformed into '24'
Value 'thirty-two' was transformed into '32'
Column name: age
Data type: int8
Unique values: [51 52 42 47 46 48 59 41 56 38 55 40 58 35 45 33 36 34 53 43 60 32 37 49
 39 50 44 30 29 31 54 57 27 28 26 25 24 23 22 21 20 19 18]
Not null count: 1614
Null count: 0
Duplicated values: 1571

In [34]:
# ▶️ Transform "distance_from_home" column data

# Corrects negative values in the distance_from_home column

abc_data.fix_negative_distances()

# print for testing
print("Printing 'distance_from_home' colum unique values for testing:")
print(abc_data.df["distance_from_home"].unique())

Printing 'distance_from_home' colum unique values for testing:
[ 6  1  4  2  3 22 25  9  7 23 10 12 14 13 15  8 42 28 37  5 16 35 26 24
 29 17 21 18 30 27 20 31 39 11 19 33 34 46 36 45 47 32 41 49 48 38 43 40
 44]

In [35]:
# ▶️ Transform "environment_satisfaction" column data

abc_data.correct_env_satisfaction_values()

# print for testing

abc_data.quick_check("environment_satisfaction")

acceptance_criteria = "Data type is float and there isn't any value different than 1,2,3 or 4"
print (f"\nAcceptance criteria: {acceptance_criteria}")

Column name: environment_satisfaction
Data type: float64
Unique values: [ 1.  3.  4.  2. nan]
Not null count: 1514
Null count: 100
Duplicated values: 1609

Acceptance criteria: Data type is float and there isn't any value different than 1,2,3 or 4

In [36]:
# ▶️ Transform "gender" column data

# Replace the values in the Gender column with 'Male' and 'Female'

abc_data.replace_gender_values()

# print for checking

abc_data.quick_check("gender")

acceptance_criteria = "Unique values are male or female"
print (f"\nAcceptance criteria: {acceptance_criteria}")

Column name: gender
Data type: object
Unique values: ['Male' 'Female']
Not null count: 1614
Null count: 0
Duplicated values: 1612

Acceptance criteria: Unique values are male or female

In [37]:
# ▶️ Transform "hourly_rate" column data

abc_data.correct_hourly_rate()


# print for testing
abc_data.quick_check("hourly_rate")

acceptance_criteria = ""
print (f"\nAcceptance criteria: {acceptance_criteria}")

Column name: hourly_rate
Data type: float64
Unique values: [ 51.  65.  58.  82.  45.  99.  91.  64.  55.  68.  49.  61.  79.  31.
  69.  48.  80.  74.  98.  59.  33.  56.  66.  57.  53.  87.  81.  84.
  32.  41.  92.  47.  nan  43.  86.  30.  42.  88.  96.  67.  62.  72.
  78.  89.  52.  50.  90.  37.  94.  76.  60.  46.  83. 100.  40.  97.
  54.  75.  39.  85.  63.  44.  93.  36.  35.  73.  71.  70.  38.  77.
  95.  34.]
Not null count: 1530
Null count: 84
Duplicated values: 1542

Acceptance criteria:

In [38]:
# ▶️ Transform "monthly_income" column data

abc_data.transform_to_float("monthly_income")

# print for testing

abc_data.quick_check("monthly_income")

acceptance_criteria = "\n- Datatye is numeric."
print (f"\nAcceptance criteria: {acceptance_criteria}")

Column name: monthly_income
Data type: float64
Unique values: [19537. 19999. 19232. 17169.    nan 17174. 16595. 19973. 13402. 13206.
 19545. 18041. 19246. 10748. 16752.  6201. 19845.  4001. 10447. 16064.
  3210. 10266. 10475.  6162.  4721.  4615. 16959. 10306.  5406.  5902.
 10855.  5914.  6646. 13973. 13320.  6687.  4735. 13872. 19045. 16015.
  9613. 11510.  4306. 17046.  5067.  3692. 19847.  2308.  5747. 10422.
  6347.  2348.  3072. 12490.  8020. 17068.  8943. 19272.  5577.  2691.
  7403.  8823.  3579. 17779. 18213. 13577. 19190. 17123. 19187. 10008.
  7988.  7083.  4723.  3407.  2929. 12031. 15427.  5126.  9619.  5010.
 19033. 10400.  2793.  5674. 19197.  8412.  3348.  5309.  7654. 12808.
  6586.  2519. 17099. 13120.  3131.  4444.  6674.  9852. 17861.  7446.
 13757. 16598.  4285. 10124.  9714.  9924. 11245.  3069.  9241.  6472.
  3055.  8321.  3143.  8578.  4197.  9888. 13341.  5677.  2909.  9526.
  6825.  4424.  5441.  6074.  6146.  6172.  4668.  5605.  4319.  3564.
  6261.  6804. 19436.  5828.  2455.  5055.  4682.  5257.  2119.  5974.
  3034. 13212.  8392.  4051.  4805.  2741.  5337.  9434.  5396. 11159.
  4960.  8793. 19189.  2216. 11713.  5304. 11103.  6632.  7587.  4335.
  5980.  4244.  5228.  2700.  2366.  2329.  4294.  6725. 10325.  4447.
 10845.  5472.  6385.  7525.  3660.  8740. 13499.  3491.  5220. 10252.
 19740.  6209.  7094.  4534.  8500.  4639.  5363.  4081.  3578. 17328.
 10793. 10851. 10466.  2362.  6439.  5769.  4385.  4066.  5206.  2655.
  2570.  4502.  4968.  5147.  2718.  3539.  5468.  5813.  9667.  5154.
  5675.  7314.  5098. 13570.  6712.  9991. 10248. 10938.  2593. 11878.
  8095. 16856.  4537. 17924.  4014. 12742.  3376. 10482.  4249.  6549.
 14411. 19586.  8237.  3211. 16704.  4774.  4568.  5993.  6499.  3452.
  6397.  2725.  3622.  6180.  6274.  4381.  2559.  5488.  2514.  3196.
  3420.  4087.  5368. 12936.  4221.  4963.  4200.  5006.  7639.  6502.
 13525.  6349.  6380.  3102.  4556.  4230.  4859.  6322. 10761.  2973.
  5204. 17399. 16885.  4323.  5155.  2936. 18789.  4883.  2029.  2996.
  9278.  4162.  8853.  4876.  2141.  7756.  3936.  6842.  3989.  4930.
  3702.  2705.  4448.  2379.  5487.  2810.  8938.  9936.  5454. 18740.
  5473. 13503. 13549. 18172.  2774.  9439.  5265.  3815.  2389.  4000.
 17584.  5661.  4869.  4649. 10496.  2768.  3408.  3755.  2187.  4258.
  5326.  5485.  2782. 17639.  6062.  6288.  3424.  4194.  2532.  5666.
 13726.  4107.  3597.  4115.  6272.  2517.  3904.  9204.  4373.  2064.
  2430.  4877.  3760.  2013.  2974.  2766.  3377.  4213.  6513.  4284.
  2226.  5561.  2144.  5373.  2897.  5321.  5410.  4850.  2001.  4404.
  3944.  2960. 18947.  6465.  2683.  2014.  3441. 13664.  5021. 18844.
  4739. 10650.  4317.  2024.  3058.  3929.  4425.  2328.  2657.  5940.
  2622.  3212.  2911.  6931.  2176.  3230. 18665.  2789.  6410.  4941.
  3983.  2904.  2696.  2174.  6755. 10965.  2543. 19406.  6538.  2258.
  2218.  2654. 11935.  2546.  3894.  4262. 10527.  2400.  3681.  3447.
 19513.  2659.  8847.  2045.  4851.  8120.  4577.  5405.  3708. 13770.
  2297.  2450.  4342.  2572.  6500.  3149.  5324.  4382.  2553.  5933.
  4403. 10934.  2022.  4256.  3580.  2899.  5562.  2377.  2404.  2799.
  2811.  4377.  4240.  4227.  3917.  4969.  2042.  2821.  9957.  2207.
  2070.  2791.  8224.  2610.  5731.  2539.  2376. 19081.  2743.  4538.
  3867.  2080.  2096.  4627.  2302.  5071. 10596.  5467.  2394.  3629.
  9362.  3229. 16422.  5647.  4400.  2066.  5486.  3162.  6651.  4898.
  3180. 11244.  4069.  6392.  4855.  3312.  3117. 15202.  2580.  2166.
  4374.  5505.  2587. 15972.  2305.  3433.  3477.  3907.  3445.  2760.
  6294. 13116.  3591.  2105.  3902.  2662.  2062.  5507.  8103.  3978.
  5399. 10448.  4440.  2660.  3375.  2269.  4787.  2809. 10854.  2571.
  6142.  2496.  3419.  2501.  2566.  3920. 13964.  6540.  2244. 16184.
  4233. 14814. 17159.  2318.  3617.  2684. 19237.  4422.  2552.  2678.
  5171. 11916.  9380.  5878.  2468.  4127.  2148.  3886.  6667.  2090.
  2086.  1951.  3022.  9724.  3388.  3038.  2322.  2926.  4505.  2835.
  6553.  6673. 13591.  2177. 19517. 19202. 10048.  2723.  6644.  3161.
  1420.  1200.  5238.  9985. 15992.  2370.  6781.  6653.  2851.  5258.
  2476.  2285.  3448.  4558.  1702.  2564.  5070.  3780.  9824.  1878.
  2340.  2127.  2033.  9602. 16627.  2083.  1009.  7861.  2642.  5121.
  2694.  5094.  2274.  2314.  2380.  2008. 10552.  2259.  2413.  2121.
  2479. 13194.  4163.  2600. 18303.  4777.  1052.  2461.  2596.  4728.
  7351.  4766.  2827.  2853.  2290.  2107.  2210. 13191. 18265.  1118.
  2372.  2838. 18061.  1611.  4768.  1274.  2561.  1563.  6388.  8376.
  4841.  2074.  2972.  6815.  2690. 17567.  1569.  4187.  3306.  1393.
 10883.  2862.  6735.  9756.  5294.  2437.  4071.  2956.  4648.  2804.
  2439.  2856.  2933.  1091.  5151.  2863.  2858.  1129. 19431.]
Not null count: 771
Null count: 843
Duplicated values: 945

Acceptance criteria:
- Datatye is numeric.

In [39]:
# ▶️ Transform "performance_rating" column data

abc_data.transform_to_float("performance_rating")


# print for testing

abc_data.quick_check("performance_rating")

acceptance_criteria = "\n- Datatye is numeric."
print (f"\nAcceptance criteria: {acceptance_criteria}")

Column name: performance_rating
Data type: float64
Unique values: [ 3.  4. nan]
Not null count: 1419
Null count: 195
Duplicated values: 1611

Acceptance criteria:
- Datatye is numeric.

In [40]:
# ▶️ Transform "total_working_years" column data

abc_data.transform_to_float("total_working_years")

abc_data.quick_check("total_working_years")

acceptance_criteria = "\n- Datatye is numeric."
print (f"\nAcceptance criteria: {acceptance_criteria}")

Column name: total_working_years
Data type: float64
Unique values: [nan 34. 22. 28. 20. 21. 33. 40. 18. 25. 15. 17. 26. 16. 24. 14. 23. 27.
 19. 11. 38. 37. 13. 12. 29. 10. 36. 35.  9. 31. 32.  8.  7. 30.  6.  5.
  4.  3.  2.  1.  0.]
Not null count: 1088
Null count: 526
Duplicated values: 1573

Acceptance criteria:
- Datatye is numeric.

In [41]:
# ▶️ Transform "work_life_balance" column data

abc_data.transform_to_float("work_life_balance")

# print for testing
abc_data.quick_check("work_life_balance")

acceptance_criteria = "\n- Datatye is numeric."
print (f"\nAcceptance criteria: {acceptance_criteria}")

Column name: work_life_balance
Data type: float64
Unique values: [ 3. nan  2.  4.  1.]
Not null count: 1506
Null count: 108
Duplicated values: 1609

Acceptance criteria:
- Datatye is numeric.

In [42]:
# ▶️ Transform "marital_status" data

abc_data.correct_typos_marital_status()

# print for testing

abc_data.quick_check("marital_status")
acceptance_criteria = "\n- Unique values are either NaN, 'Married', 'Divorced' or 'Single' and there is no missspelling"
print (f"\nAcceptance criteria: {acceptance_criteria}")

Column name: marital_status
Data type: object
Unique values: [nan 'Married' 'Divorced' 'Single']
Not null count: 963
Null count: 651
Duplicated values: 1610

Acceptance criteria:
- Unique values are either NaN, 'Married', 'Divorced' or 'Single' and there is no missspelling

In [43]:
# ▶️ convert_object_to_float_eliminate_dolar

abc_data.convert_object_to_float_eliminate_dolar("daily_rate")

abc_data.quick_check("daily_rate")

Column name: daily_rate
Data type: float64
Unique values: [ 684.  699.  532.  359. 1319.  117. 1435.  635. 1276.  840.  247. 1369.
  201. 1360.  692. 1398.  286. 1402.  819.  884. 1238.  515. 1223.  202.
  928.  607.  266.  429.  589.   nan 1180. 1282.  776.  665.  526. 1034.
 1403. 1499.  580.  859.  263. 1376.  885. 1003. 1321.  394. 1372. 1333.
  228.  737.  823.  667.  301.  573. 1329.  630. 1063. 1017. 1296.  939.
 1355. 1448.  200. 1202.  404.  208.  813.  465. 1189. 1001. 1394.  161.
  288.  682. 1354.  147.  119. 1413.  452.  334. 1132.  982.  480. 1099.
  672. 1379.  583. 1492. 1050.  469.  237. 1440. 1291. 1157. 1336. 1224.
  735. 1389.  638. 1240.  194. 1339.  111. 1469.  470. 1232. 1249.  798.
  549.  570.  541.  164. 1117.  619.  319.  956. 1245. 1397.  527.  213.
  882.  330.  406.  217.  481.  669. 1465.  685. 1062.  177. 1199.  648.
  412.  282.  770.  601.  855.  332. 1326.  748.  405.  790.  971. 1370.
  750.  880.  678. 1179.  350. 1266.  574.  189.  310.  722. 1219.  994.
  721.  853.  427.  852. 1334. 1093.  967.  989. 1195. 1045.  829.  663.
 1300. 1105.  906.  849. 1275. 1218.  422. 1274. 1076. 1207.  430.  933.
 1184.  586.  890.  379. 1425. 1188.  938. 1053.  248.  796.  174.  408.
  977.  536.  135. 1476.  587.  495.  523.  507. 1055. 1445.  218.  447.
 1029.  674.  538.  740. 1234.  170. 1130.  584.  918.  792.  611. 1383.
  867.  706.  728.  311.  556.  937. 1125.  444.  911.  585. 1392. 1005.
 1299.  655.  746.  632.  658. 1467. 1312.  249.  802.  689. 1395. 1436.
 1496. 1480.  313.  894.  290. 1084. 1002. 1242. 1052.  944.  771. 1416.
 1327.  488. 1385.  666. 1315.  442.  950.  691. 1018.  559.  318.  144.
 1171.  143. 1178. 1107.  645. 1485. 1116.  163.  561.  426.  509.  258.
  525.  238.  482.  397.  243.  806. 1442.  929.  827.  703.  294.  314.
  654.  501.  954. 1434.  657.  240.  791.  676.  436.  760.  661. 1085.
  154. 1283.  616.  498.  530.  805.  903. 1229.  566. 1441.  153. 1066.
  145. 1109.  124.  300. 1366.  857. 1204. 1082.  203. 1308.  718.  593.
 1384. 1361. 1146. 1316.  363. 1103.  920.  694. 1429.  531.  621.  604.
  325. 1030.  524.  943. 1009.  817.  930. 1147.  652.  337. 1136.  326.
  377. 1038. 1490. 1246.  224.  441.  898. 1313. 1015. 1387. 1302.  602.
  772.  809.  786.  921.  717.  979.  953.  244.  196.  303. 1092.  261.
 1422. 1137.  511. 1396. 1096. 1169. 1239.  157.  754. 1303.  697.  116.
  557.  582.  704.  613.  419.  477. 1211.  505.  269.  553. 1277.  302.
  975. 1318.  881.  466.  945.  433.  991. 1083.  136.  333. 1462. 1131.
 1023. 1065. 1115. 1479.  304. 1368.  828.  799.  142.  446.  254. 1410.
  883.  121. 1343.  490. 1400. 1332. 1200. 1102. 1328.  548. 1214.  120.
  841. 1033. 1452. 1268.  307.  797.  555. 1377.  210.  483.  575. 1311.
  759.  891.  317.  688.  195.  622.  646.  719. 1012. 1278. 1222. 1231.
  462.  231. 1089. 1262.  439.  528.  647. 1097.  942.  966.  168.  299.
  999. 1498. 1439. 1111. 1174.  172.  401.  866.  571. 1342.  995.  118.
  990.  241. 1470.  492. 1040. 1320.  146. 1153.  185. 1297. 1064. 1351.
  468. 1273. 1141. 1488.  653. 1225. 1217. 1127. 1427.  702.  926.  878.
  896. 1401.  675. 1070.  496.  390. 1220. 1124. 1046.  267.  443. 1287.
 1420.  562.  650.  141.  715.  376.  932.  471.  180. 1265. 1075. 1086.
  152.  974.  788.  192.  150. 1167.  206.  736.  322.  683. 1475.  560.
  115.  888.  671.  567.  148.  581.  371. 1181. 1253.  370. 1194.  572.
  355.  783.  155.  508.  642. 1382. 1037. 1120.  374.  287.  591.  670.
 1346.  103.  673.  705. 1459. 1443. 1142.  664.  432. 1353.  489.  807.
 1280.  957.  542.  216. 1150.  364. 1256.  440.  713.  140.  629.  328.
  472.  905. 1151.  644.  992. 1323.  818. 1431.  976.  832.  916. 1247.
  128. 1158.  996. 1449.  636.  889.  106.  723. 1482.  738. 1192. 1309.
  544.  641.  756.  895. 1261.  329. 1362. 1371.  821. 1381. 1473.  296.
 1349.  986.  413.  988. 1474.  232. 1236. 1112.  204.  913.  810.  693.
  316.  381.  775.  804. 1090.  346.  725.  182.  384. 1325. 1258. 1041.
  625. 1418. 1269.  395.  341.  500. 1454.  617. 1122. 1198.  188.  335.
  461. 1134.  138. 1206.  109.  277.  265.  342. 1186.  769. 1176. 1091.
  618.  970.  984.  793. 1182.  603.  874.  367.  199. 1457. 1421. 1450.
 1212. 1010.  131.  193.  640.  848. 1138.  256.  935.  458.  662.  499.
  949.  383. 1255. 1221.  981. 1495. 1193.  467.  271.  410. 1288. 1108.
  437.  457.  634.  546.  711.  448.  365.  763.  486.  392.  727.  741.
  552.  506. 1456.  160.  897.  600. 1054.  428.  343. 1216.  207.  280.
  414.  836.  592.  219. 1079. 1251. 1168. 1444. 1154.  234.  529. 1322.
  924.  134.  755.  253.  922. 1365.  306. 1271. 1404. 1391. 1464. 1330.
  773.  902.  107.  504. 1358.  824.  594.  734.  766.  431. 1213. 1373.
 1324. 1123.  391.  125. 1357.  626.  132.  871. 1031. 1145.  854. 1411.
  252.  833. 1210. 1463.  812. 1162.  845. 1144.  156.  464. 1305.  983.
  534. 1306. 1094.  558.  959.  782.  362.  268.  167. 1243.  720.  868.
 1252.  781. 1272.  129. 1069.  289.  955.  660.  415.  309.  130.  862.
 1098.  969.  373.  599.  968.  830. 1423.  516.  598.  104.  479.  474.
  264. 1059.  563. 1259.  369.  543.  964.  176.  181.  211.  590.  305.
  478. 1294. 1128.  726.  352. 1172.  605. 1337.  105.]
Not null count: 1490
Null count: 124
Duplicated values: 765

In [44]:
# ▶️ Transform "remote work"
abc_data.map_column_remote_work()

abc_data.quick_check("remote_work")

Column name: remote_work
Data type: object
Unique values: ['True' '1' 'False' '0']
Not null count: 1614
Null count: 0
Duplicated values: 1610

In [45]:
# ▶️ Convert_role_to_department and normalize job_role letters

abc_data.convert_role_to_department_normalize_job_role()

# prints for testing

print("\n")
abc_data.quick_check("job_role")

print("\n")
abc_data.quick_check("department")

abc_data.df[["job_role","department"]].sample(50)

Value 'Research Director' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Representative' was transformed into 'Sales'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Human Resources' was transformed into 'Human Resources'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Human Resources' was transformed into 'Human Resources'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Human Resources' was transformed into 'Human Resources'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Human Resources' was transformed into 'Human Resources'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Sales Representative' was transformed into 'Sales'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Sales Representative' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Sales Representative' was transformed into 'Sales'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Human Resources' was transformed into 'Human Resources'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Representative' was transformed into 'Sales'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Research Director' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Human Resources' was transformed into 'Human Resources'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Laboratory Technician' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Manufacturing Director' was transformed into 'Research & Development'
Value 'Human Resources' was transformed into 'Human Resources'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Research Scientist' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Healthcare Representative' was transformed into 'Research & Development'
Value 'Sales Executive' was transformed into 'Sales'
Value 'Healthcare Representative' was transformed into 'Research & Development'

                       job_role              department
1354                    Manager                     NaN
1388      Laboratory Technician  Research & Development
1056            Sales Executive                   Sales
1452         Research Scientist  Research & Development
1227      Laboratory Technician  Research & Development
528      Manufacturing Director  Research & Development
1322         Research Scientist  Research & Development
1015            Sales Executive                   Sales
700             Sales Executive                   Sales
137   Healthcare Representative  Research & Development
866   Healthcare Representative  Research & Development
168   Healthcare Representative  Research & Development
869        Sales Representative                   Sales
1091         Research Scientist  Research & Development
1196       Sales Representative                   Sales
962       Laboratory Technician  Research & Development
775             Sales Executive                   Sales
1440            Human Resources         Human Resources
172       Laboratory Technician  Research & Development
649          Research Scientist  Research & Development
341           Research Director  Research & Development
1327      Laboratory Technician  Research & Development
382             Sales Executive                   Sales
235   Healthcare Representative  Research & Development
1463     Manufacturing Director  Research & Development
1041            Sales Executive                   Sales
1509          Research Director  Research & Development
609                     Manager                   Sales
791             Sales Executive                   Sales
202       Laboratory Technician  Research & Development
139      Manufacturing Director  Research & Development
814           Research Director  Research & Development
1274            Sales Executive                   Sales
828             Sales Executive                   Sales
861      Manufacturing Director  Research & Development
1485         Research Scientist  Research & Development
411             Sales Executive                   Sales
577       Laboratory Technician  Research & Development
523             Sales Executive                   Sales
599             Sales Executive                   Sales
1531            Sales Executive                   Sales
1577            Sales Executive                   Sales
762   Healthcare Representative  Research & Development
1280            Sales Executive                   Sales
231           Research Director  Research & Development
1058      Laboratory Technician  Research & Development
192          Research Scientist  Research & Development
399             Sales Executive                   Sales
261           Research Director  Research & Development
1305      Laboratory Technician  Research & Development

In [46]:
# ▶️ Drop un-needed coulumns

columns_to_delete = ["employee_count", "same_as_monthly_income", "salary", "number_children", "standard_hours", "years_in_current_role", "over_18", "role_departament"]

abc_data.drop_redundant_columns(columns_to_delete)

# print for testing

for i in range(len(columns_to_delete)):
    try:
        print(abc_data.df[i])
    except: 
        print(f"Column '{columns_to_delete[i]}' deleted")

Column 'employee_count' deleted
Column 'same_as_monthly_income' deleted
Column 'salary' deleted
Column 'number_children' deleted
Column 'standard_hours' deleted
Column 'years_in_current_role' deleted
Column 'over_18' deleted
Column 'role_departament' deleted

In [47]:
# ▶️ Transform "employee_number" data: remove duplicates and change format to float

# abc_data.remove_duplicates() # we decided not to delete any row for now. Instead, we'll manage nulls and analyse further first.

abc_data.transform_to_float("employee_number")

# print for testing

abc_data.quick_check("employee_number")
acceptance_criteria = "\n- There are no duplicates other than NaN\n- Datatype is numeric"
print (f"\nAcceptance criteria: {acceptance_criteria}")

Column name: employee_number
Data type: float64
Unique values: [ 162.  259.  319. ... 2012. 2023. 2040.]
Not null count: 1183
Null count: 431
Duplicated values: 534

Acceptance criteria:
- There are no duplicates other than NaN
- Datatype is numeric

In [48]:
# ▶️ Change nulls for unknown category in categorial variable

# if we want to change more than one column , put a list
columns_modify = []
abc_data.change_null_for_unknown(columns_modify)


# print for tasting

for column in columns_modify:
    abc_data.quick_check(column)
    print("--------------------------------")

In [49]:
# ▶️ Change nulls for mode in categorical variable

# if we want to change more than one column, put a list
columns_modify = []
abc_data.change_null_for_mode(columns_modify)


# print for tasting
for column in columns_modify:
    abc_data.quick_check(column)
    print("--------------------------------")

In [50]:
# ▶️ Change nulls for mean in numerical variable when we have a 0-10% of nulls in numerical category and distribution is normal

# if we want to change more than one column , put a list
columns_modify = []
abc_data.change_null_for_mean(columns_modify)

# print for tasting
for column in columns_modify:
    abc_data.quick_check(column)
    print("--------------------------------")

In [51]:
# ▶️ Change nulls for median in numerical variable when we have a 0-10% of nulls in numerical category and distribution is atypical

# if we want to change more than one column , put a list
columns_modify = []
abc_data.change_null_for_median(columns_modify)

# print for tasting
for column in columns_modify:
    abc_data.quick_check(column)
    print("--------------------------------")

In [52]:
# ▶️ Change nulls for distribution KNN in numerical variable when we have more 10% of nulls in numerical category 

# if we want to change more than one column , put a list
columns_modify = []
abc_data.change_null_for_mean(columns_modify)


# print for tasting
for column in columns_modify:
    abc_data.quick_check(column)
    print("--------------------------------")

In [53]:
# ▶️ create .csv

try:
    abc_data.create_csv(file_name)
    print (f"{file_name} created ✅ {abc_data.df.shape[0]} rows, {abc_data.df.shape[1]} columns.")
except:
    print("Error❌ 'file_name' is needed. Please assign a name for the final output with the transformed data to continue")

hr_data_transformed.csv created ✅ 1614 rows, 33 columns.